body {
    margin: 0;
    padding: 20px;
    max-width: 80vw;
}

ul li {
    padding: 2px;
    display: inline;
    border: 1px solid black;
}

img {
    max-width: 50vw;
    max-height: 50vh;
}

article[myAttribute="contact"] {
    background-color: aqua;
}

#indexTable {
    margin: 1px;
    padding: 3px;
    border:1px solid black;
    background-color: aquamarine;
}

.indexTableItem {
    margin: 1px;
    padding: 3px;
    border:1px solid black;
}

p {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: brown;
}

time {
    font-family: 'Courier New', Courier, monospace;
}

section {
    font-size: 24px;
}
